@model IEnumerable<PaskalaRitenis.Models.ArchiveModel>
@{
    ViewBag.Title = "Olimpiāžu Arhīvs";
    var iconType = "None";
    string webRootPath = Request.Url.GetLeftPart(UriPartial.Authority) + "/Files";
}

<h2>@ViewBag.Title</h2>
<div class="container-fluid">

    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
    {
            <div class="alert alert-info" role="alert">
                <div class=""><h3>Nav noteikta gada uzdevumu?</h3> @Html.ActionLink("Pievienot", "Create", "Archive", null, new { @class = "btn btn-primary" })</div>
            </div>
    }

    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
            <div class="panel panel-info">
                <a data-toggle="collapse" href="#@item.Year" class="panel-info">
                    <div class="panel-heading text-center">
                        <h4 class="panel-title">
                            @item.Year Gads
                        </h4>
                    </div>
                </a>
                <div id="@item.Year" class="panel-collapse collapse">
                    @*<label>@item.Year:</label><br />*@
                    <div class="panel-body">
                        <div class="row">
                            @foreach (var subitem in item.FileNames)
                            {
                                if (subitem.FileName.StartsWith("Access"))
                                {
                                    iconType = "Access";
                                }
                                else if (subitem.FileName.StartsWith("Excel"))
                                {
                                    iconType = "Excel";
                                }
                                else if (subitem.FileName.StartsWith("Word"))
                                {
                                    iconType = "Word";
                                }
                                else if (subitem.FileName.StartsWith("PowerPoint"))
                                {
                                    iconType = "PowerPoint";
                                }
                                else if (subitem.FileName.StartsWith("Rezultāti"))
                                {
                                    iconType = "pdf";
                                }
                                else if (subitem.FileName.StartsWith("Testa"))
                                {
                                    iconType = "Tests";
                                }
                                else if (subitem.FileName.StartsWith("Datnes"))
                                {
                                    iconType = "document-compress";
                                }

                                <div class="col-sm-6 col-md-3 m-b-10">
                                    <div class="thumbnail">
                                        <a href="@webRootPath/@subitem.FileName">
                                            <img src="~/Images/icons/@iconType-icon.png" class="img-responsive"
                                                 width="128px" height="128px" alt="@iconType" />
                                            <div class="caption text-center">
                                                <p>@subitem.FileName</p>
                                            </div>
                                        </a>
                                    </div>
                                @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                                {
                                    <div class="row text-center">
                                        @Html.ActionLink("Dzest", "Delete", "Archive", new { id = @subitem.Id }, new { @class = "btn btn-danger" })
                                    </div>
                                }

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @*<a style="cursor: pointer" onclick="getFile(@subitem.Id)">@subitem.FileName</a><br />*@

        }
    </div>
</div>

<script type="text/javascript">

        @*function getFile(id) {
                if (id > 0) {
                    var action = "@Url.Action("GetFile", "Archive")?id=" + id;
                    location.href = action;
                }
            }*@

    (function () {
        $(function () {
            $('.thumbnail').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            });
        });
    })();

</script>
