@model IEnumerable<PaskalaRitenis.Models.ArchiveModel>
@{
    ViewBag.Title = "Olimpiāžu Arhīvs";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model)
{
    <label>@item.Year:</label><br />
    foreach(var subitem in item.FileNames)
    {
        <a style="cursor: pointer" onclick="getFile(@subitem.Id)">@subitem.FileName</a><br />
    }
<br /><br />
}

<script type="text/javascript">

    function getFile(id) {
        if (id > 0) {
            var action = "@Url.Action("GetFile", "Archive")?id=" + id;
            location.href = action;
        }
    }

</script>