@model PaskalaRitenis.Models.TeacherRegModel

@{
    ViewBag.Title = "Skolotaju Registracija";
}

<h2>Skolotaju registracija</h2>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div>
        <strong >Registracijas forma</strong>
    </div>
    <div class="regForm" style="padding-top: 15px">
        <p class="registr-p">@Html.LabelFor(m=> m.Name)</p>
        <p>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m=> m.Name)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.Surname)</p>
        <p>
            @Html.TextBoxFor(m => m.Surname)
            @Html.ValidationMessageFor(m=> m.Surname)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.City)</p>
        <p>
            @Html.TextBoxFor(m => m.City)
            @Html.ValidationMessageFor(m => m.City)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.StudyType)</p>
        <p>
            @Html.DropDownListFor(m => m.SelectedStudyTypeId, new SelectList(Model.StudyType, "Value", "Text"))
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.School)</p>
        <p>
            @Html.TextBoxFor(m => m.SpecialSchool)
            @Html.ValidationMessageFor(m => m.SpecialSchool)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.Phone)</p>
        <p>
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.Email)</p>
        <p>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <p class="registr-p">@Html.LabelFor(m=> m.PlaceRequired)</p>
        <div id="PlaceRequired">
            <span>Nē:</span>
            @Html.RadioButtonFor(m => m.PlaceRequired, "Nē", new { @checked = true })
            <span>Jā:</span>
            @Html.RadioButtonFor(m => m.PlaceRequired, "Jā")<br /><br />
        </div>
        <div id="PlaceType">
            <span>Pirms:</span>
            @Html.RadioButtonFor(m => m.PlaceRequiredType, "Pirms", new { @checked = true })
            <span>Pēc:</span>
            @Html.RadioButtonFor(m => m.PlaceRequiredType, "Pēc")
            <span>Gan pirms, gan pēc:</span>
            @Html.RadioButtonFor(m => m.PlaceRequiredType, "Gan pirms, gan pēc")<br /><br />
        </div>
        <div>
            @Html.CheckBoxFor(m=> m.Sequrity)
            @Html.LabelFor(m=> m.Sequrity)
        </div>
        <input class="submit-btn" id="CompleteRegistr" type="submit" value="Atsūtīt"/>
        @Html.HiddenFor(m => m.Advicer, new { Value = "NoTeacher"})
    </div>
}
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PlaceType").hide();
            GetTags(1);
            $("#CompleteRegistr").prop('disabled', true);
            $("input:radio[name=PlaceRequired]:first").attr('checked', true);
            $("#Sequrity").prop('checked', false);
        });

        $("#SelectedStudyTypeId").change(function () {
            GetTags($(this).val());
        });

        $("#Sequrity").change(function () {
            if ($(this).is(':checked')) {
                $("#CompleteRegistr").prop('disabled', false);
            }
            else {
                $("#CompleteRegistr").prop('disabled', true);
            }
        });

        $("input[name=PlaceRequired]:radio").change(function () {
            if ($(this).val() == "Nē") {
                $("#PlaceType").hide();
            }
            else {
                $("#PlaceType").show();
            }
        });

        var availableTags;

        function GetTags(val) {
            $.getJSON("/Registr/GetSchoolArray?val=" + val, function (data) {
                availableTags = data;
                $("#SpecialSchool").autocomplete({
                    source: availableTags
                });
            });      
        }

    </script>
