<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paskala ritenis</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.plugins/jquery.mousewheel-3.0.6.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.plugins/jquery.fancybox.js?v=2.0.5"></script>
    <script type="text/javascript" src="~/Content/js/jquery.plugins/jquery.picasagallery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.carouselTicker.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.plugins/jquery.hugeitmicro.min.js"></script>


    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/picassagallery/jquery.picasagallery.css" />
    <link rel="stylesheet" href="~/Content/fancybox/jquery.fancybox.css?v=2.0.5" />
    <link rel="stylesheet" href="~/Content/fancybox/jquery.fancybox-thumbs.css?v=2.0.5" />
</head>
<body>
    <div id="main">
        <header>
            <div id="logo">
                <img class="paskalaLogo" src="~/Content/images/pr_logo.png" alt="Paskala Ritenis">
            </div>
            <nav>
                <div id="menu_container">
                    <ul class="sf-menu" id="nav">
                        <li>@Html.ActionLink("Sākumlapa", "Index", "Home")</li>
                        <li class="sf-parent"><a href="#">Reģistrācija<span class="sf-arrow"></span></a>
                            <ul class="sf-content" style="left: auto; z-index: 1052; display: none; margin-top: 0px;">
                                <li>@Html.ActionLink("Studentiem", "StudentRegistr", "Registr")</li>
                                <li>@Html.ActionLink("Skolotajiem", "TeacherRegistr", "Registr")</li>
                            </ul>
                        </li>
                        <li><a href="#">Rezultāti 2015</a></li>
                        <li>@Html.ActionLink("Olimpiādes programma 2016","Index","Programm")</li>
                        <li><a href="#">Olimpiāžu arhīvs</a></li>
                        <li class="sf-parent"><a href="#">Galerija<span class="sf-arrow"></span></a>
                            <ul class="sf-content" style="left: auto; z-index: 1052; display: none; margin-top: 0px;">
                                <li>@Html.ActionLink("Foto","Foto","Gallery")</li>
                                <li>@Html.ActionLink("Video","Video","Gallery")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Atbalstītāji","Index","Supporters")</li>
                        <li>@Html.ActionLink("Kontakti","Index","Contact")</li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="site_content">
                @RenderBody()
        </div>
        <footer>
            <p><a href="#">©2016 Paskāla ritenis</a></p>
        </footer>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
